.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 4px 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 244px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 244px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-list-1 {
  width: 752px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 184px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-3 {
  margin: 0 auto 0 226px;
}

.u-section-1 .u-text-4 {
  margin: -25px auto 0 0;
}

.u-section-1 .u-text-5 {
  margin: 19px auto 0 226px;
}

.u-section-1 .u-text-6 {
  margin: -25px auto 0 0;
}

.u-section-1 .u-text-7 {
  margin: 19px auto 0 226px;
}

.u-section-1 .u-text-8 {
  margin: -25px auto 0 0;
}

.u-section-1 .u-text-9 {
  margin: 19px auto 0 0;
}

.u-section-1 .u-text-10 {
  margin: -25px auto 0 226px;
}

.u-section-1 .u-layout-wrap-2 {
  margin: 12px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 240px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 244px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-list-2 {
  width: 752px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 184px;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-12 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-13 {
  margin: -26px auto 0 226px;
}

.u-section-1 .u-text-14 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-15 {
  margin: -26px auto 0 226px;
}

.u-section-1 .u-text-16 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-17 {
  margin: -26px auto 0 226px;
}

.u-section-1 .u-text-18 {
  margin: 20px auto 0 226px;
}

.u-section-1 .u-text-19 {
  margin: -26px auto 0 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 18px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 664px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 71px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 378px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-1 .u-list-1 {
    width: 545px;
    margin-top: 18px;
    margin-right: auto;
    margin-left: 40px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 299px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 45px;
    margin-right: 158px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -26px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 40px;
    margin-right: 122px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -26px;
    margin-left: 35px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 44px;
    margin-right: 222px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -30px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 40px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -30px;
    margin-right: 126px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 398px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 398px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-1 .u-list-2 {
    width: 585px;
    margin-top: 11px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 356px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-left: 11px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-right: 214px;
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 35px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: 237px;
    margin-left: auto;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 40px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-right: 277px;
    margin-left: auto;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 41px;
    margin-right: 182px;
    margin-left: auto;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: -34px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -270px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 462px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-list-1 {
    width: 480px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 184px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 139px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -25px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -25px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 194px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -51px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -51px;
  }

  .u-section-1 .u-layout-wrap-2 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-list-2 {
    width: 15px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: -1px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: -1px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: -1px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-text-19 {
    margin-top: -26px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -217px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 662px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -10px;
    margin-left: -452px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
    margin-left: -452px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 0;
    margin-left: -452px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 0;
    margin-left: -452px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-13 {
    margin-left: -452px;
  }

  .u-section-1 .u-text-15 {
    margin-left: -452px;
  }

  .u-section-1 .u-text-17 {
    margin-left: -452px;
  }

  .u-section-1 .u-text-18 {
    margin-left: -452px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 18px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 320px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 91px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 80px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 127px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 82px;
  }

  .u-section-1 .u-list-2 {
    margin-left: auto;
  }
}